---
import Info from '../cards/Info.astro'
import Container from '../shared/Container.astro'
import Paragraph from '../shared/Paragraph.astro'
import Title from '../shared/Title.astro'
---

<section id='about-us'>
  <Container className='flex flex-col  midmd:flex-row gap-10 lg:gap-12 '>
    <div
      class='max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex midmd:w-5/12 lg:w-1/2 midmd:h-auto'>
      <div class='w-full h-80 sm:h-96 midmd:h-full relative'>
        <img
          src={'/images/direccion-obra.jpg'}
          alt='Imagen. Somos el futuro de la comunicación'
          width='1240'
          height='1385'
          class='lg:absolute lg:w-full lg:h-full rounded-3xl object-cover object-ceneter lg:max-h-none md:max-h-96 shadow-md mt-8 md:mt-0'
        />
      </div>
    </div>
    <div class='flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col'>
      <Title> Somos el <span class="text-sec font-bold">futuro</span> de la construcción. </Title>
      <Paragraph className='mt-8'>
        Somos un equipo de ingeniería con más de 15 años de experiencia en el diseño, proyecto y construcción de obras civiles y de arquitectura. Participamos en más de 250 proyectos en todo el país, tanto en el área de ingeniería estructural, construcción y dirección de obra. Nuestros clientes son instituciones gubernamentales, grandes empresas, desarrolladores inmobiliarios, profesionales de la construcción y clientes particulares
      </Paragraph>
      <Paragraph className='mt-4'>
        Entendemos las obras como un proceso complejo, es por ello que acompañamos a nuestros clientes no solo en las etapas de diseño, sino que también en las etapas de obra y fabricación. Enfocamos todo nuestro esfuerzo en realizar diseños que tengan un equilibrio entre el ahorro de materiales y la simplicidad constructiva, y nos caracterizamos por interiorizarnos en los procesos constructivos específicos de cada obra, por lo que adaptamos los diseños según los requerimientos y formas de trabajo solicitadas.
      </Paragraph>
      <!-- <div
        class='pt-8 grid grid-cols-2 items-stretch gap-4 max-w-3xl md:max-w-[none]'>
        <Info
          description='Con herramientas avanzadas de relevamiento, podemos crear planes personalizados que se ajusten perfectamente a las necesidades de la audiencia'
          title='Ejecución a medida'>
          <span slot='icon'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='30'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='w-4 h-4 sm:w-5 sm:h-5'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z'
              ></path>
            </svg>
          </span>
        </Info>
        <Info
          description='Con amplia experiencia en centros de contacto, validamos datos, fortalecemos infraestructura y adoptamos tecnologías digitales para garantizar resultados.'
          title='Resultados comprobados'>
          <span slot='icon'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='30'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='w-4 h-4 sm:w-5 sm:h-5'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z'
              ></path>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'
              ></path>
            </svg>
          </span>
        </Info>
      </div> -->
    </div>
  </Container>
</section>
