---
import Container from '../shared/Container.astro'
import Title from '../shared/Title.astro'

const list = [
  'Portland',
  'Via Vento',
  'Vizora',
  'Sudamericana',
  'Dycasa',
  'VC. Muni Morón',
  'Eparqs',
  'Ingalfa',
  'Cimtronic',
  'Maprin',
]
---

<section>
  <Container className='space-y-8'>
    <div class='text-center max-w-3xl mx-auto'>
      <Title> Confían en nosotros </Title>
    </div>
    <div class='flex justify-center flex-wrap gap-4'>
      {
        list.map((item) => (
          <div class=' p-4 '>
            <p class='text-4xl text-[#afb0b1] font-semibold '>{item}</p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
